.main
  width 100%
  padding 15px 0 105px 0

.about
  background-color secondaryGrey
  padding 115px calc(50vw - 940px / 2)
  width 100vw
  max-width calc(100vw - 5px)
  margin-left calc(-50vw + 50%)

.skills
  padding 115px 0

.portfolio
  background-color secondaryGrey
  padding 115px calc(50vw - 940px / 2)
  width 100vw
  max-width calc(100vw - 5px)
  margin-left calc(-50vw + 50%)

@media screen and (max-width: 500px)
	.about
		padding 115px 25px

@media screen and (max-width: 500px)
  .portfolio
    padding 115px 25px
