.main__info
  display flex
  align-items center
  justify-content space-between
  flex-wrap wrap

.language
  flex 0 1
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;

.delimiter
  display inline-block
  height 2px
  width 1em
  margin 4px 0
  background primaryBlack

.language__item
  color primaryGrey
  cursor pointer
  user-select none

.focus
  color primaryBlack

.main__img
  width 100%
  height 385px
  display flex
  align-items center
  overflow hidden
  margin 25px 0

.main__img img
  margin-top 15vh
  max-width 100%
  min-height 100%
  
p
  text-align center
  font-family mainFontMedium

p.about__text
  width 100%
  margin 0 auto

p.about__text:not(:last-child)
  margin-bottom 35px

p.skills__text
  margin 35px 0 95px

.skills__container
  display flex
  width 100%
  justify-content space-between
  flex-wrap wrap
  gap 55px

.skill
  width 165px
  display flex
  flex-direction column
  align-items center
  justify-content space-between

span.skill__name
  margin 1.3em 0 2em
  color primaryGrey
  font-size smallFontSize
  width 75px
  text-align center

.icon-star
  width 25px
  height 25px

.skill__stars
  width 100%
  display flex
  justify-content space-between

.blank
  fill highlightGrey

.portfolio__item
  display flex
  flex-direction column
  align-items center
  margin-top 85px

.portfolio__item-img
  width 100%
  display flex
  justify-content center

.portfolio__item-img img
  max-width 100%
  min-height 100%

.portfolio__item-title
  display inline-block
  margin-top 35px
  text-decoration underline
  font-family mainFontMedium

.burger svg
  width 33px
  height 20px

.close
  display none

.close svg
  width 33px
  height 33px
  fill primaryGrey

@media screen and (max-width: 830px) 
  .skills__container 
    justify-content center

@media screen and (max-width: 500px) 
  .language
    display none
  .main__img img
    margin 0
  .main__img
    height 475px
  .burger
    display block !important
    position absolute
    right 25px
    top 55px;
    cursor pointer
  .close
    display block
    position absolute
    top 25px
    right 25px
    cursor pointer
