footer.footer
  h2.footer__title Contacts
  p.footer__text 
                |Want to know more or just chat?<br>
                |You are welcome!
  +button('Send message', 'filled', '#')
  .footer__networks
    +socialNetwork('LinkedIn', '#')
    +socialNetwork('Instagram', '#')
    +socialNetwork('Behance', '#')
    +socialNetwork('Dribble', '#')
  p.footer__text-explanation
                |Like me on<br>
                |LinkedIn, Instagram, Behance, Dribble