@font-face
	font-family GilroyMedium
	src url(../fonts/Gilroy-Medium.eot)
	src url(../fonts/Gilroy-Medium.woff)
	src url(../fonts/Gilroy-Medium.ttf)
	font-weight normal
	font-style normal

@font-face
	font-family GilroyBold
	src url(../fonts/Gilroy-Bold.eot)
	src url(../fonts/Gilroy-Bold.woff)
	src url(../fonts/Gilroy-Bold.ttf)
	font-weight normal
	font-style normal
