// ЦВЕТА
primaryBlack = #070707
primaryGrey = #828282
secondaryGrey = #F6F6F6
highlightGrey = #E5E5E5

// РАЗМЕРЫ
baseFontSize = 18px
mediumFontSize = 16px
smallFontSize = 14px
hugeFontSize = 34px
highlightFontSize = 48px

// ШРИФТЫ
mainFontBold = GilroyBold
mainFontMedium = GilroyMedium