.footer
  display flex
  flex-direction column
  align-items center
  padding 115px 0

p.footer__text
  margin-bottom 35px  

p.footer__text-explanation
  margin-top 20px
  font-family mainFontMedium
  font-size smallFontSize
  color primaryGrey

.footer__networks
  width 40%
  display flex
  justify-content space-between
  margin 85px 0 25px

.footer__networks a svg
  width 40px
  height 40px
  
@media screen and (max-width: 650px) 
  .footer__networks
    width 80%
