h1.name
  font-size highlightFontSize
  flex 0

h3.occupation
  font-family mainFontMedium
  
h2
  font-size hugeFontSize
  text-align center
  margin-bottom 25px

@media screen and (max-width: 500px) 
  h1.name
    width 100%
  h3.occupation
    width 100%
    margin 15px 0
  